
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyAnswerDetail</title>
    <link href="~/Content/ExamContent/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/ExamContent/Site.css" rel="stylesheet" />
    <link href="~/Content/ExamContent/bootstrapValidator.css" rel="stylesheet" />
    <link href="~/Content/ElementUI/element-ui.css" rel="stylesheet" />
    <script src="~/Content/ExamContent/jquery-3.4.1.js"></script>
    <script src="~/Content/ExamContent/vue.js"></script>
    <script src="~/Content/ExamContent/axios.js"></script>
    <script src="~/Content/ExamContent/element-ui.js"></script>
    <script src="~/Content/ExamContent/bootstrap.js"></script>
    <script src="~/Content/ExamContent/bootstrapValidator.js"></script>
</head>
<body>
    <div id="app">
        <div id="content" class="container">
            <!--页面内容部分-->
            <section>
                <div class="row" id="AnswerDetail">
                    <div class="col-lg-2 col-10 col-xs-6 col-sm-5 " id="center-a" v-show="isTm" style=" box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)">
                        <!--按钮区-->
                        <div style="max-height:220px; overflow-y: auto;min-height:200px">
                            <label>答题记录</label>
                            <div>

                                <a v-for="(itme,index) in Detail" v-bind:key="itme.DetailID"
                                   class="btn col-lg-2 col-xs-2 col-sm-2"
                                   style="margin:4px;color:white"
                                   v-bind:class="{ 'agreen':!isClass[index],'ared':isClass[index] }"
                                   v-bind:href="'#T'+index">
                                    {{index+1}}
                                </a>
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-10 col-lg-offset-1">
                        <h2>在线考试</h2>
                        <div class="row" v-if="is">
                            <div class="col-lg-4 ">
                                <h4>试卷描述</h4><hr />
                                <label>试卷名称:</label> {{Answer[0].Paper.PaperName}}<br />
                                <label>试卷介绍:</label> {{Answer[0].Paper.PaperExplain}}<br />
                                <label>试卷时长:</label> {{Answer[0].Paper.PaperTime}} (分钟)<br />

                            </div>
                            <div class="col-lg-4">
                                <h4>考生信息</h4><hr />
                                <label>学生姓名:</label>  {{Answer[0].Student.StuName}}<br />
                                <label>学生班级:</label>  {{Answer[0].Student.StuGrade}}<br />
                            </div>
                            <div class="col-lg-4">
                                <div class="cj-State" v-if="Detail[0].Answer.AnswerState==0">
                                    未提交
                                </div>
                                <div class="cj-State" v-if="Detail[0].Answer.AnswerState==1">
                                    未批卷
                                </div>
                                <div class="cj-State" v-if="Detail[0].Answer.AnswerState==2">
                                    {{Detail[0].Answer.AnswerScore}}分
                                </div>
                            </div>

                        </div>
                        <fieldset v-if="is">
                            <legend>试卷答题内容</legend>
                            <div>
                                <!--试卷内容-->
                                <div v-for="(itme,index) in Detail" v-bind:key="itme.DetailID">
                                    <h3 v-bind:id="'T'+index">第 {{index+1}} 题 {{itme.Topic.TopicExplain}}<i v-if="itme.Topic.TopicAnswer!=itme.DetailAnswer" class="el-icon-close"></i><i v-else class="el-icon-check"></i></h3>
                                    <div v-if="itme.Topic.TopicType==1">
                                        <!--单选题-->
                                        <ul>
                                            <li v-bind:class="{red:itme.Topic.TopicAnswer!='A'&&itme.DetailAnswer=='A',green:itme.Topic.TopicAnswer=='A'&&itme.DetailAnswer=='A'}">A.{{itme.Topic.TopicA}}</li>
                                            <li v-bind:class="{red:itme.Topic.TopicAnswer!='B'&&itme.DetailAnswer=='B',green:itme.Topic.TopicAnswer=='B'&&itme.DetailAnswer=='B'}">B.{{itme.Topic.TopicB}}</li>
                                            <li v-bind:class="{red:itme.Topic.TopicAnswer!='C'&&itme.DetailAnswer=='C',green:itme.Topic.TopicAnswer=='C'&&itme.DetailAnswer=='C'}">C.{{itme.Topic.TopicC}}</li>
                                            <li v-bind:class="{red:itme.Topic.TopicAnswer!='D'&&itme.DetailAnswer=='D',green:itme.Topic.TopicAnswer=='D'&&itme.DetailAnswer=='D'}">D.{{itme.Topic.TopicD}}</li>
                                        </ul>
                                        <div>
                                            我的答案：<span v-bind:class="{red:itme.Topic.TopicAnswer!=itme.DetailAnswer,green:itme.Topic.TopicAnswer==itme.DetailAnswer}">{{itme.DetailAnswer}}</span>
                                        </div>
                                        <div>
                                            正确答案：{{itme.Topic.TopicAnswer}}
                                        </div>
                                    </div>
                                    <div v-if="itme.Topic.TopicType==2">
                                        <!--判断题-->
                                        <ul>
                                            <li v-bind:class="{red:itme.Topic.TopicAnswer!='1'&&itme.DetailAnswer=='1',green:itme.Topic.TopicAnswer=='1'&&itme.DetailAnswer=='1'}">A.对</li>
                                            <li v-bind:class="{red:itme.Topic.TopicAnswer!='0'&&itme.DetailAnswer=='0',green:itme.Topic.TopicAnswer=='0'&&itme.DetailAnswer=='0'}">B.错</li>
                                        </ul>
                                        <div>
                                            我的答案：<span v-bind:class="{red:itme.Topic.TopicAnswer!=itme.DetailAnswer,green:itme.Topic.TopicAnswer==itme.DetailAnswer}">{{itme.DetailAnswer==0?'错':'对'}}</span>
                                        </div>
                                        <div>
                                            正确答案：{{itme.Topic.TopicAnswer==0?'错':'对'}}
                                        </div>
                                    </div>
                                    <div v-if="itme.Topic.TopicType==3">
                                        <!--问答题-->
                                        <div>
                                            我的答案：<span v-bind:class="{red:itme.Topic.TopicAnswer!=itme.DetailAnswer,green:itme.Topic.TopicAnswer==itme.DetailAnswer}">{{itme.DetailAnswer}}</span>
                                        </div>
                                        <div>
                                            正确答案：{{itme.Topic.TopicAnswer}}
                                        </div>
                                    </div>
                                    <div v-if="itme.Topic.TopicType==4">
                                        <!--多选题-->
                                        <ul>
                                            <li v-bind:class="{red:itme.Topic.TopicAnswer!='A'&&itme.DetailAnswer=='A',green:itme.Topic.TopicAnswer=='A'&&itme.DetailAnswer=='A'}">A.{{itme.Topic.TopicA}}</li>
                                            <li v-bind:class="{red:itme.Topic.TopicAnswer!='B'&&itme.DetailAnswer=='B',green:itme.Topic.TopicAnswer=='B'&&itme.DetailAnswer=='B'}">B.{{itme.Topic.TopicB}}</li>
                                            <li v-bind:class="{red:itme.Topic.TopicAnswer!='C'&&itme.DetailAnswer=='C',green:itme.Topic.TopicAnswer=='C'&&itme.DetailAnswer=='C'}">C.{{itme.Topic.TopicC}}</li>
                                            <li v-bind:class="{red:itme.Topic.TopicAnswer!='D'&&itme.DetailAnswer=='D',green:itme.Topic.TopicAnswer=='D'&&itme.DetailAnswer=='D'}">D.{{itme.Topic.TopicD}}</li>
                                        </ul>
                                        <div>
                                            我的答案：<span v-bind:class="{red:itme.Topic.TopicAnswer!=itme.DetailAnswer,green:itme.Topic.TopicAnswer==itme.DetailAnswer}">{{itme.DetailAnswer}}</span>
                                        </div>
                                        <div>
                                            正确答案：{{itme.Topic.TopicAnswer}}
                                        </div>
                                    </div>
                                    <br />
                                    <br />

                                </div>
                            </div>
                        </fieldset>
                    </div>

                </div>
            </section>
            <!--页脚-->
            <div id="footer">
                <hr style="margin:20px 0px;" /> 在线考试系统   版权所有 - 2023
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: "#AnswerDetail",
            data: {
                is: false,
                AnswerID: 7,
                Answer: [],
                Detail: [],//题目
                w: 0,
                h: 0,
                isTm: true,
                isClass: []
            },
            methods: {
                get() {
                    this.AnswerID = this.getQueryVariable("AnswersID");
                    axios.get("/AnswersApi/GetInfo", {
                        params: {
                            AnswerID: this.AnswerID
                        }
                    }).then(r => {
                        this.Answer = r.data;
                        console.log(r.data);
                    });
                    axios.get("/DetailApi/GetAll", {
                        params: {
                            AnswerID: this.AnswerID
                        }
                    }).then(r => {
                        this.Detail = r.data;
                        this.is = true;
                        for (var i = 0; i < this.Detail.length; i++) {
                            var d = this.Detail[i];
                            if (d.DetailAnswer == d.Topic.TopicAnswer) {
                                this.isClass[i] = true;
                            } else this.isClass[i] = false;
                            console.log(d);
                        }
                        console.log(this.Detail);

                    });
                },
                //js获取陆游参数
                getQueryVariable(variable) {
                    var query = window.location.search.substring(1);
                    var vars = query.split("&");
                    for (var i = 0; i < vars.length; i++) {
                        var pair = vars[i].split("=");
                        if (pair[0] == variable) { return pair[1]; }
                    }
                    return (false);
                },
                //滚动监听
                scrollHeigh() {
                    this.h = document.documentElement.scrollTop || document.body.scrollTop;
                    if (this.h > 400) {
                        this.isTm = true;
                    } else this.isTm = false;
                    console.log(this.h);
                }

            },
            created() {
                this.get();
            },
            beforeDestroy() {

            },
            destroyed() {


            },
            //注册事件
            mounted() {


            }
        });
    </script>
</body>
</html>
<style>
    .red, .el-icon-close {
        color: red;
    }

    .green, .el-icon-check {
        color: green;
    }

    #center-a {
        background-color: white;
        position: fixed;
        right: 10px;
        top: 28%;
        padding: 5px;
        z-index: 1;
    }

    .agreen {
        background-color: #F56C6C;
    }

    .ared {
        background-color: #67C23A;
    }

    .cj-State {
        color: red;
        font-size: 70px;
    }
</style>
